.content {
    display: flex;
    justify-content: center;
    column-gap: 12rem;
}

.wrapperList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-collapse: collapse;
}

.listItem {
    display: flex;
    align-items: center;
    padding: 4px;
    font-size: 1.2rem;
    /* border-width: 1px 0;
    border-style: solid;
    border-color: #f0f0f0; */
}

.listItem>strong {
    display: block;
    flex: 1;
    margin-right: 2rem;
}

.title {
    font-size: 1.8rem;
}

.weakness {
    display: flex;
    background: greenyellow;
    color: white;
    font-size: 1.6rem;
    border-radius: 6px;
    width: 34px;
    height: 34px;
    margin-right: 12px;
}

.weakness>svg {
    margin: auto;
    width: 70%;
    height: 70%;
}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }

    .wrapperList {
        max-width: 25rem;
        margin: 0 auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .title {
        margin-top: 3rem;
        text-align: center;
    }
}